
@font-face { src: url("./assets/OregonLDOBoldOblique.ttf"); font-family: OBO; }
@font-face { src: url("./assets/LiberationSansR.ttf"); font-family: libR; }

html, body {
	margin: 0;
	padding: 0;
}

#mainBin {
	font-family: libR;
	font-size: 1.5rem;
	width: 86vw;
	height: auto;
	margin-left: 7vw;
	background-color: aliceblue;
	border-bottom: 0.4rem solid lightblue;
}

#introduction {
	font-family: OBO;
	font-size: 2rem;
	padding: 4rem 0;
	text-align: center;
}

#twoLine {
	font-size: 2.6rem;
	padding-top: 1.2rem;
}

#threeLine {
	font-size: 1.5rem;
	padding-top: 0.6rem;
}

#fourLine {
	padding-top: 1.2rem;
}

#container {
	margin: 0 4rem;
	line-height: 1.7;
}

.eachStage {
 margin: 3rem 0;
}

.stageInfo {
	margin-bottom: 1rem;
}

.fitImg {
	max-width: 100%;
	height: auto;
}

#switchImg {
	float: left;
	margin-right: 1rem;
}

#variableImg {
	float: left;
}

#clearFloat {
	clear: both;
	padding-top: 3rem;
}

@media screen and (max-width: 890px) {
	#variableImg {
		margin-top: 1rem;
	}
}

@media screen and (max-width: 660px) {
	#introduction {
		margin: 0 2rem;
	}	
	#container {
		margin: 0 2rem;
	}
}

@media screen and (max-width: 460px) {
	#mainBin {
		font-size: 1.2rem;
	}
}